.results {
  padding: 15px 0;
  display: flex;
  flex-flow: column;
}

.results-display {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.results p {
  font-size: 12px;
}

.results-bold {
  font-weight: bold;
}
